* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: radial-gradient(#4c0c0c, #000);
}

.container {
  position: relative;
  height: 430px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  -webkit-box-reflect: below 1 linear-gradient(transparent, transparent, transparent, transparent, rgba(0, 0, 0, 0.3333333333));
}

.heart {
  position: relative;
  height: 300px;
  width: 300px;
}
.heart::before, .heart::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 300px;
  background-color: #6a1629;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  z-index: 1000;
  -webkit-animation: animateHeart 2s steps(1) infinite;
          animation: animateHeart 2s steps(1) infinite;
}
.heart::before {
  top: -100px;
  left: 20px;
  width: 200px;
  height: 300px;
  rotate: 315deg;
}
.heart::after {
  top: -100px;
  left: 92px;
  rotate: 45deg;
}

@-webkit-keyframes animateHeart {
  0%, 94%, 100% {
    -webkit-filter: none;
            filter: none;
  }
  95% {
    -webkit-filter: drop-shadow(0 0 50 #f00) drop-shadow(0 0 150 #f00);
            filter: drop-shadow(0 0 50 #f00) drop-shadow(0 0 150 #f00);
    background: #f00;
  }
}

@keyframes animateHeart {
  0%, 94%, 100% {
    -webkit-filter: none;
            filter: none;
  }
  95% {
    -webkit-filter: drop-shadow(0 0 50 #f00) drop-shadow(0 0 150 #f00);
            filter: drop-shadow(0 0 50 #f00) drop-shadow(0 0 150 #f00);
    background: #f00;
  }
}
.drop {
  position: absolute;
  top: 40px;
  width: 30px;
  height: 30px;
  -webkit-filter: drop-shadow(5px 5px 10px #000) drop-shadow(0px 0px 10px #f00);
          filter: drop-shadow(5px 5px 10px #000) drop-shadow(0px 0px 10px #f00);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-animation: animate 4s linear forwards;
          animation: animate 4s linear forwards;
}
.drop::before, .drop::after {
  content: "";
  position: absolute;
  background-color: #f00;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  z-index: 1200;
}
.drop::before {
  width: 20px;
  height: 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  rotate: -45deg;
}
.drop::after {
  bottom: 3px;
  width: 30px;
  height: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  rotate: 315deg;
}
@-webkit-keyframes animate {
  0% {
    top: 40px;
    opacity: 1;
    scale: 1;
  }
  70% {
    top: 400px;
    opacity: 1;
  }
  80% {
    top: 400px;
  }
  100% {
    top: 400px;
    opacity: 0;
    scale: 0;
  }
}
@keyframes animate {
  0% {
    top: 40px;
    opacity: 1;
    scale: 1;
  }
  70% {
    top: 400px;
    opacity: 1;
  }
  80% {
    top: 400px;
  }
  100% {
    top: 400px;
    opacity: 0;
    scale: 0;
  }
}